@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solway:wght@300;400;500;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solway:wght@300;400;500;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* on top of everything */
  pointer-events: all; /* block clicks */
}

.preview-video {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 200px;
  height: var(--height);
  background-color: #212121 /*change this*/;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: rgb(222, 74, 15);
  background: linear-gradient(
    0deg,
    rgba(222, 74, 15, 1) 0%,
    rgba(249, 199, 79, 1) 100%
  );
  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 10px;
  height: 45px;
  opacity: 0.3;
  rotate: 45deg;
}

@keyframes loading {
  0% {
    width: 0;
  }

  80% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5e5c7;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 70px;
}

.step.active {
  background-image: url(/src/assets/Stepsbg.png);
}

.step {
  background-image: url(/src/assets/back.png);
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  gap: 5px;
  max-width: 150px;
  min-width: 150px;
  height: 100%;
  background-color: #f5e5c7;
  position: relative;
  clip-path: polygon(
    10% 0,
    /* Top-left cut */ 90% 0,
    /* Top-right cut */ 100% 50%,
    /* Right middle point */ 90% 100%,
    /* Bottom-right cut */ 0% 100%,
    /* Bottom-left cut */ 0 0px /* Left middle point */
  );
  justify-content: center;
  padding: 0px 0px 0px 15px;
}

span.step-index {
  font-family: Solway;
  font-size: 8px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background: #000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  margin: 0px;
}

.step-label {
  font-family: Solway;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #000000;
  margin: 0px;
}

.reviewbook--bottom {
  width: 100%;
  padding: 70px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.reviewbybook {
  width: 100%;
  padding: 40px 0px;
  background: #fffaf0;
}

.reviewbook--bottom--top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewbook--bottom--1 {
  width: 80%;
}

.reviewbook--bottom--top h3 {
  font-family: Solway;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #000000;
  width: 84%;
}

.reviewbook--bottom--top span {
  width: 80%;
}

.reviewbook--bottom--top button {
  background: #c69bb0;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  font-family: Solway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 20%;
  color: #ffffff;
}

.reviewbook--bottom--2 {
  width: 20%;
}

.reviewbook--bottom--top p {
  margin: 0;
  font-family: Solway;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.reviewbook--bottom--1 p {
  font-family: Solway;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  padding-top: 30px;
}

.reviewbook--bottom--top-2 {
  background: #fad7a0;
  padding: 19px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.reviewbook--bottom--top-2 h5 {
  color: #000000;
  margin: 0;
  font-family: Solway;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.bottom--forget {
  background: #fad7a0;
  padding: 15px;
  border-radius: 10px;
}

.bottom--forget h6 {
  font-family: Solway;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.bottom--forget p {
  font-family: Solway;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.6px;
  text-align: left;
  padding-bottom: 30px;
}

.bottom--forget button {
  font-family: Solway;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background: #c69bb0;
  padding: 6px 23px;
  border-radius: 50px;
  color: #ffffff;
}

.basit--chat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0px 27px 0px;
}

.basit--chat span {
  text-align: left;
  width: 56%;
}

.basit--chat span h3 {
  font-family: Solway;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #000000;
}

.basit--chat--allbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.more-box-list {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.more-box-list p {
  margin: 0px;
  font-family: "Solway";
}

.two-button-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 65%;
}

.two-button-box button {
  padding: 10px 30px;
  color: #fff;
  font-family: Solway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: space-between;
  border-radius: 64px;
  background: #c69bb0;
  border: 1px solid #c69bb0;
}

.more-change-box {
  width: 100%;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
}

.more-change-box p {
  color: #000;
  text-align: center;
  font-family: Solway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin: 0px;
}

.icon-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.icon-box svg {
  width: 80px;
}

.basit--chat--allbtn button {
  color: #ffffff;
  font-family: Solway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 12px 59px;
  background: #c69bb0;
  border-radius: 50px;
  border: none;
}

/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */

.tree ul {
  padding-top: 20px;
  position: relative;
  display: contents;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
li.no-top2.howe-box {
  position: relative;
  right: -75px;
  top: 4px;
}
.tree li {
  display: table-cell;
  vertical-align: top;
  list-style: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 50%;
  height: 20px;
  border-top: 2px solid #ccc;
}

.tree li::before {
  right: 50%;
  border-right: 2px solid #ccc;
}

.tree li::after {
  left: 50%;
  border-left: 0px solid #ccc;
}

.tree li:only-child::before,
.tree li:only-child::after {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-left: 2px solid #ccc;
  border-radius: 5px 0 0 0;
}
.Discount-p {
  width: 21%;
}

.dashboard-inner-ar {
  align-items: center !important;
  justify-content: center !important;
}

.box {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
  min-width: 85px;
  font-size: 12px;
  height: 60px;
}

.tree {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -1px;
}

li.no-top1 {
}

li.no-top1::before {
  width: 0%;
}

ul {
}

li.no-top1::after {
  width: 0% !important;
  height: 0px;
}

li.no-top2 {
}

li.no-top2::before {
  width: 9%;
}

li.no-top2::after {
  width: 10%;
}

li.no-top2.extra:before {
  border-top: 2px solid #ccc !important;
  width: 40px !important;
}
li.no-top2.extra2:before {
 width: 6% ;
}
li.no-top2.extra2:after {
  width: 6% ;
 }
li.no-top2.extra:after {
  border-top: 2px solid #ccc !important;
  width: 40px !important;
}
.logo-ar a p {
  margin: 0px !important;
}
.box.tree-head {
  border: 1px solid #010101;
  font-weight: bold;
}

li.no-top1 .box.tree-head {
  margin-bottom: 20px;
}

.box.tree-head {
  border: 1px solid #010101;
  font-weight: bold;
}

li.no-top1 .box.tree-head {
  margin-bottom: 20px;
}

/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */
/* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */ /* .................. */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  display: contents;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.tree li {
  display: table-cell;
  vertical-align: top;
  list-style: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.tree li::before, 
.tree li::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 20px;
  border-top: 1px solid #CCC;
}

.tree li::before {
  right: 50%;
  border-right: 1px solid #CCC;
}

.tree li::after {
  left: 50%;
  border-left: 1px solid #CCC;
}

.tree li:only-child::before, 
.tree li:only-child::after {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before, 
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #CCC;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-left: 1px solid #CCC;
  border-radius: 5px 0 0 0;
}

.box {
  border: 1px solid #CCC;
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
  min-width: 120px;
  font-size: 14px;
}


.tree {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -1px;
}

li.no-top1 {}

li.no-top1::before {
    width: 0%;
}

ul {}

li.no-top1::after {
    width: 0% !IMPORTANT;
    top: 43%;
}

li.no-top2 {}

li.no-top2::before {
    width: 5%;
}

li.no-top2::after {
    width: 6%;
}

.box.tree-head {
    border: 1px solid #010101;
    font-weight: bold;
}

li.no-top1 .box.tree-head {
    margin-bottom: 20px;
} */

@media screen and (max-width: 1600px) {
  .main-site-box h1 {
    font-size: 45px;
  }

  .main-site-box p {
    padding-top: 10px;
    font-size: 18px;
  }

  .step {
    height: 42px;
  }
  .back-to-top {
    width: 100%;
  }

  button.postion-div-box {
    right: 275px;
    bottom: 14%;
    margin: 0px !important;
  }

  .Memory-box p {
    padding-bottom: 85px;
  }

  .Choose-Template-box h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1440px) {
  .main-site-box h1 {
    font-size: 38px;
  }

  button.postion-div-box {
    right: 15%;
    bottom: 22%;
    padding: 10px 40px !important;
    border-radius: 5px !important;
  }

  .Memory-box h2 {
    font-size: 18px;
  }

  .Memory-box p {
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 1024px) {
  button.postion-div-box {
    right: 16%;
    bottom: 35%;
  }

  span.step-index {
    font-size: 8px;
    height: 18px;
    width: 18px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step {
    gap: 5px;
    height: 44px;
  }

  .main-site-box h1 {
    font-size: 32px;
  }

  .two-button-box button {
    font-size: 14px;
    padding: 8px 24px;
  }

  .main-site-box {
    padding-bottom: 25px;
  }

  .Memory-box p {
    padding-bottom: 45px;
  }

  .Memory-box h2 {
    font-size: 16px;
    margin: 0px;
  }

  .sample-book-sidebar-btns-ar button {
    border-radius: 5px !important;
  }

  .Memory-box {
    border-radius: 5px !important;
  }

  .Choose-Template-box h2 {
    font-size: 28px;
    margin: 0px;
  }

  .animated-button {
    padding: 10px 25px;
    margin: 0px;
  }

  .main-row-box {
    gap: 10px;
    padding-top: 40px;
  }

  .new-div-box {
    height: 28vh;
  }

  .new-div-box img {
    object-fit: cover;
  }

  .bookcoverdiv {
    width: 85%;
    height: 45vh;
  }

  img.coverimage.img-thumbnail {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
  }

  .rightpanel {
    width: 45%;
    padding-top: 35px;
  }

  .alignments {
    gap: 0px;
  }

  .leftPanel {
    width: 59%;
  }
}

@media screen and (max-width: 900px) {
  .stepper-container {
    overflow-y: scroll;
  }

  .step {
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: 55px;
  }

  .reviewbybook {
    padding: 40px 0px;
  }

  .main-site-box h1 {
    font-size: 28px;
  }

  .main-site-box p {
    padding-top: 8px;
    font-size: 16px;
  }

  .dashboard-inner-ar {
    padding-top: 40px;
  }

  .rightbar-ar {
    width: 100% !important;
  }

  button.postion-div-box {
    bottom: 0px;
    left: 57px;
    width: 86%;
  }

  .preview-book-div-ar {
    padding: 20px 20px 75px 32px;
  }
}

@media screen and (max-width: 600px) {
  .preview-book-div-ar {
    padding: 20px 0px 75px 0px;
  }

  .dashboard-inner-ar {
    padding-top: 20px;
  }

  button.postion-div-box {
    left: 30px;
  }

  .alignments {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .rightpanel {
    width: 100%;
  }

  .new-div-box {
    width: 48%;
  }

  .main-row-box {
    gap: 20px 0px;
    justify-content: space-between;
    padding-top: 20px;
  }

  .new-div-box img {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
  }

  .Choose-Template-box h2 {
    font-size: 16px;
    margin: 0px;
  }

  .main-site-box h1 {
    font-size: 20px;
  }

  .step {
    max-width: 175px;
    min-width: 175px;
    height: 40px;
  }

  .a5-page {
    padding: 40px 20px;
  }

  .mock-heading {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Libre Baskerville", serif;
  }

  /* treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code */

  /* 
.tree {
    overflow: auto;
    max-width: 350px;
}

.tree li::before {border: none !important;display: none;}



li.no-top1 {
    display: flex;
    flex-direction: column;
}

.tree li::after {
    border: none !important;
}

.tree li {
    padding: 0px 5px 0 5px;
}

li.no-top2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.box {
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.tree ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    gap: 10px;
} */

  .box {
    height: 40px;
  }

 
 

  /* Connector lines */
 
 

 
 
 

  /* treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code
treee-box-css-code-treee-box-css-code-treee-box-css-code-treee-box-css-code */

  .new-layout-btn-box button {
    width: 40%;
  }
  .a5-page {
    width: 84mm !important;
    height: 180mm !important;
  }
  .chapter-image{
    object-fit: contain !important;
  }
  .new-layout-box h2 {
    font-size: 14px;
  }

  .more-box-list p {
    font-size: 13px;
  }

  .modal-dialog.modal-lg.modal-dialog-centered {
    width: 100%;
    max-width: 95%;
  }

.a5-page2 {
  width: 84mm !important;
  height: 150mm;
  position: relative !important;
  overflow: hidden !important;
}

  .page-title {
    font-size: 18px;
    font-family: "Libre Baskerville";
  }

  .a5-page2 ul {
    padding: 0px;
  }

  .Information-Book-tital h2 {
    font-size: 16px;
  }

  .Information-Book-tital p {
    font-size: 13px !important;
  }

  .Information-box {
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
  }

  .Information-Book-no-box span {
    padding: 5px;
    gap: 20px;
  }

  .Information-Book-no-box p {
    font-size: 16px;
  }

  .Information-Book-no-box input {
    width: 15px;
    height: 15px;
  }

  .Shipping-box-1 h2 {
    font-size: 18px;
  }

  .Information-group label {
    font-size: 16px;
  }

  .Information-group input {
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 4px;
  }

  .Information-group {
    width: 100%;
  }

  .Information-from-box {
    gap: 10px 0px;
  }

  .chap-heading-ar span {
    width: 85%;
    font-size: 12px;
    text-align: center;
  }

  .add-back-batn {
    width: 20px;
    height: 20px;
    top: 6px;

    left: 2px;
  }

  .dynamic--textarea.selected {
    padding: 0px;
    border-color: transparent;
    box-shadow: none;
    gap: 10px;
  }

  textarea.message-div-ar {
    font-size: 12px;
  }

  .Qustionchat-btn-box {
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .Qustionchat-btn-box button {
    width: 48%;
  }

  .next-per-box button {
    width: 40% !important;
    font-size: 12px;
  }

  .main-site-box p {
    font-size: 14px !important;
  }

  .main-site-box h1 {
    font-size: 18px !important;
  }

  .main-site-box {
    padding-bottom: 20px !important;
  }

  .enhance-section {
    padding: 0px !important;
  }

  .new-sec-tital p {
    font-size: 14px !important;
    width: 100%;
  }

  .back--cover button {
    font-size: 12px !important;
  }

  .postion-box-book-cover {
    margin: 0px !important;
    height: auto !important;
  }

  .one-more-box img {
    width: 100%;
  }

  .template--select span h5 {
    font-size: 12px !important;
  }

  .template--select {
    padding: 12px;
    border-radius: 5px !important;
  }

  .template--select--main {
    margin: 8% 0px 0% 0% !important;
  }

  .leftPanel {
    padding-top: 20px !important;
  }

  .customize-container p {
    font-size: 12px !important;
  }

  .Information-Book-tital h2 {
    font-size: 15px !important;
  }

  .My-Book-Shippingbook2 h5 {
    font-size: 15px;
  }

  .Shippingbook-part-1 h2 {
    font-size: 14px;
  }

  .Shippingbook-part-2 span h2 {
    font-size: 14px;
  }

  .Shippingbook-part-2 button {
    padding: 8px 20px;
    font-size: 14px !important;
  }

  .Information-group label {
    font-size: 14px;
  }

  .Information-from-box {
    gap: 5px 0px !important;
  }

  .View-final-pdf span {
    flex-direction: column;
    gap: 20px;
  }

  .View-final-pdf span a button {
    font-size: 14px;
    border-radius: 4px;
  }

  .privacy-boxx p {
    font-size: 14px;
  }

  .privacy-boxx h5 {
    font-size: 16px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000; /* Increased z-index to ensure it appears above other content */
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.confirm-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  /* max-width: 400px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.confirm-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.confirm-modal .modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
}

.close-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6b7280;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 1;
}

.close-button:hover {
  color: #374151;
}

.confirm-modal .modal-body {
  text-align: center;
  padding: 20px 0;
}

.warning-icon {
  width: 48px;
  height: 48px;
  background: #f7b7a3;
  border-radius: 50%;
  margin: 0 auto 15px;
  position: relative;
}

.warning-icon::after {
  content: "!";
  font-size: 1.5rem;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-modal .modal-body p {
  font-size: 1rem;
  color: #4b5563;
  margin: 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.confirm-button {
  background-color: #f7b7a3;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  width: 35%;
}

.confirm-button:hover {
  background-color: #f7b7a3;
}

.cancel-button {
  background-color: #e5e7eb;
  color: #374151;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  width: 30%;
}

.cancel-button:hover {
  background-color: #d1d5db;
}

.renew-modal-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to appear above all other content */
  visibility: visible;
}

.renew-modal-overlay .modal-content {
  background: white;
  padding: 117px 58px 100px 58px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.renew-modal-overlay .modal-content h1 {
  color: #000;
  text-align: center;
  font-family: Solway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%; /* 44.4px */
}

.renew-modal-overlay .modal-content p {
  color: #000;
  text-align: center;

  /* Body */
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 23.8px */
  position: relative;
}
.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.input-section {
  margin-top: 25px;
}

.input-section label {
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}
.input-section input {
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background: #fff;
  height: 48px;
  padding-left: 16px;

  margin-top: 5px;
  margin-bottom: 20px;
}

.payment-method {
  text-align: start;
  width: 100%;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  background: white;
  padding-left: 16px;
  height: 48px;
  gap: 20px;
  margin-top: 5px;

  border: 2px solid rgba(0, 0, 0, 0.8);
  background: #fff;
  margin-bottom: 20px !important;
}
.payment-method img {
  margin: 0 !important;
}
.payment-method span {
  margin: 0 !important;
}

.pay-btn {
  width: 90%;
  margin-top: 50px;
}
.pay-btn button {
  width: 100%;
  display: flex;
  /* width: 445px; */
  padding: 14px 0px 15px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #c69bb0;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockBtn {
  padding: 15px 50px !important;
  border-radius: 10px !important;
  font-size: 20px !important;
}


